.emails-page{
   display: grid;
   grid-template-areas: 
   "logo filter . "
   "folder  mail mail"
   "folder  mail mail";
   grid-template-columns: auto auto 1fr; 
   grid-template-rows:   50px auto 1fr;
   /* gap: 10px;  */
   width: 100vw;
   height: 100vh;
}

.logo{
   grid-area: logo;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: left;
   width: auto;
   height: auto;
}

.logo img{
   width: 30px;
   height: 30px;
}


.mail-section{
   grid-area: mail;
}

.mail-filter{
   display: flex;
   align-items: center;
   justify-content: center;
   grid-area: filter;
}

.folders{
   margin-top: 30px;
   grid-area: folder;
   display: flex;
   flex-direction: column;
   /* background-color: white; */
}


.folders button{
   /* margin-top: 10px; */
   background: none;
   border: none;
   color: black;
   cursor: pointer;
   font-weight: bold;
   font-size: 20px;
   /* //margin-left: 10px; */
}

.folders button:hover {
   text-decoration: underline;
 }

.mail-list a{
   color: black;
   cursor: pointer;
}


